    /* Estilo para los encabezados */

    h1 {
    color: #000000;
    font-size: 24px;
    }
    /* Estilo para los párrafos */
    p {
    color: #0a0a0a;
    font-size: 16px;
    }
    /* Estilo para los enlaces */
    a {
    color: #ff9900;
    text-decoration: none;
    }